@import './boards.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: rgba(59, 131, 246, 0.808);
}

header {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 32px;
  background-color: rgb(20 83 45);
  color: white;
}

main {
  display: flex;
  justify-content: center;
  gap: 120px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-one-section,
.player-two-section {
  display: flex;
  gap: 120px;
}

.fleet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fleet-header {
  height: 40px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.fleet {
  border: 2px solid black;
  border-radius: 5px;
  width: 250px;
  height: 250px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.fleet-ship-container {
  display: flex;
  height: 20px;
}

.ship-part {
  width: 20px;
  height: 20px;
  background-color: blue;
}

.part-sunken {
  background-color: red;
}
