*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: rgba(59, 131, 246, 0.808);
}

table {
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
  margin-top: 20px;
}

td,
th {
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid rgb(30 58 138);
  transition: background-color 150ms;
}

td.opponent.empty:hover {
  background-color: rgb(29 78 216);
  cursor: pointer;
}

td.opponent.empty:active {
  background-color: rgb(54, 99, 223);
  cursor: pointer;
}

th {
  border: none;
  font-weight: normal;
  font-size: 1rem;
}

.gameboards {
  display: flex;
  justify-content: center;
  gap: 150px;
}

header {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 32px;
  background-color: rgb(20 83 45);
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ship-cell {
  position: relative;
}

.ship-cell > img {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.missed-shot {
  background-color: rgb(255, 43, 43);
}

.hit {
  background-color: greenyellow;
}

.sunken {
  background: repeating-linear-gradient(
    45deg,
    rgb(6, 6, 48),
    rgba(32, 94, 192, 0.808) 5px
  );
}
