@import './boards.css';
@import './placement.css';
@import './battle.css';
@import './game-over.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: rgba(59, 131, 246, 0.808);
}

header {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 32px;
  background-color: rgb(12, 60, 71);
  color: white;
}

.game-section {
  display: none;
}

.game-section.active {
  display: flex;
}

.game-section.blurred {
  opacity: 0.5;
}

.game-section.blurred {
  pointer-events: none;
}
